// https://github.com/benmosher/eslint-plugin-import/issues/1615

{
	"extends": ["react-app"],
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"rules": {
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx", "ts"] }],
		"import/extensions": ["error", "ignorePackages", {
			"js": "never",
			"jsx": "never",
			"ts": "never",
			"tsx": "never"
		  }]
	},
	"settings": {
		"import/resolver": {
		  "node": {
			"extensions": [".js", ".json", ".ts", ".tsx"]
		  }
		}
	  }
}