// https://github.com/benmosher/eslint-plugin-import/issues/1615

{
	"extends": ["airbnb", "plugin:react/recommended"],
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"rules": {
		"react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".tsx", "ts"] }],
		// "react/jsx-props-no-spreading": "off",
		"import/extensions": ["error", "ignorePackages", {
			"js": "never",
			"jsx": "never",
			"ts": "never",
			"tsx": "never"
		  }]
		//   "react/prop-types": [2, { "ignore": ["children"] }] 
	},
	"settings": {
		"import/resolver": {
		  "node": {
			"extensions": [".js", ".json", ".ts", ".tsx"]
		  }
		}
	  }
}